form{
    text-align: center;
    background-image: url(/Image/img2.jpg);
       background-size: cover;
        width: 500px;
        height: 25px;
        border: 1px solid black;
    
        text-align: left;
        font-size: 15px;
        outline: none;
       }
       

       img{
        width: 200px;
        height: 200px;
        border: 1px solid black;
        padding: 12px;
        border-radius: 25px;
        margin-left: 10px;
        margin-top: 10px;
        box-shadow: 7px 10px 15px orangered;
        transition: all 1s;
          
    }
    img:hover{
        transform: scale(1.1,1.1);
    }
