<form action="" class="col-md-4 offset-4 mt-5 card card-body" #form = "ngForm" (ngSubmit)="loginData(form)">

    <div class="form-group">
        <input type="text" name="companyname" id="companyname" class="form-control" placeholder="Company Name..." #companyname = "ngModel" ngModel required>
        <div *ngIf="companyname.touched && companyname.invalid">
<p class="alert alert-danger" *ngIf="companyname.errors.required">*this field is required</p>
        </div>
    </div>

<label for="skills"></label>
<select name="skills" id="skills">
    <option value="" selected disabled>skills</option>
    <option value="java">java</option>
    <option value="JDBC">JDBC</option>
    <option value="SQL">SQL</option>

    </select><br>
    
    <div class="form-group">
        <input type="text" name="yearofexp" id="yearofexp" class="form-control" placeholder="Year of experience.." #yearofexp = "ngModel" ngModel required>
        <div *ngIf ="yearofexp.touched && yearofexp.invalid">
<p class="alert alert-danger" *ngIf = "yearofexp.errors.required">*this field is required</p>
        </div>
    </div>

    <div class="form-group">
        <input type="text" name="MCTC" id="MCTC" class="form-control" placeholder="MCTC" #MCTC = "ngModel" ngModel required>
        <div *ngIf ="MCTC.touched && MCTC.invalid">
<p class="alert alert-danger" *ngIf = "MCTC.errors.required">*this field is required</p>
</div>
    </div>

    <div class="form-group">
        <input type="text" name="location" id="location" class="form-control" placeholder="Location" #location = "ngModel" ngModel required>
        <div *ngIf ="location.touched && location.invalid">
<p class="alert alert-danger" *ngIf = "location.errors.required">*this field is required</p>
</div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right" [disabled]="form-invalid">Add requirement</button>
    </div>
    
</form>
